.body-index {
    display: flex;
    background-color: black;
    justify-content: center;
    flex-direction: column;
    .menu-index{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    } .section-warhol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    } .section-warhol__warhol-titulo {
        display: flex;
        margin-top: 50px;
        justify-content: center;
        font-family: 'Times New Roman', Times, serif;
        color: white;
    } .section-warhol__subt-box {
        display: flex;
        margin-top: 100px;
        justify-content: center;
    }.section-warhol__subt{
        display: block;
        font-family: 'Times New Roman', Times, serif;
        font-size: x-large;
        color: white;
        border: solid 3px violet;
        border-radius: 15px;
        width: 65%;
        text-align: center;
    }
}

.card-section-warhol{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url(https://img.freepik.com/premium-photo/lgbt-flag-symbol-lgbt-day_360749-4145.jpg);
    .card {
        width: 80%;
        background-color: rgb(80, 41, 116);
    }
}



