$fondo-violeta: rgb(80, 41, 116);
$fondo-img-lgbt: url(https://img.freepik.com/premium-photo/lgbt-flag-symbol-lgbt-day_360749-4145.jpg);

@import "reset";
@import "index";
@import "footer";
@import "header";

//Galería de fotos

.carrousel-section{
    display: flex;
    justify-content: center;
    text-align: center;
}

.carrousel-section__container{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
}

